llama-index==0.12.28
llama-index-vector-stores-faiss
llama-index-readers-file
faiss-cpu

openai
pypdf
PyPDF2
pdfplumber
pypdfium2
python-docx
tqdm

# API dependencies
flask
werkzeug

# Agent dependencies
langchain>=0.1.0
langchain-openai>=0.0.5
